name: License Scan
on: [ pull_request_target ]

jobs:
  license-scan:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
      - name: Synopsys Detect
        uses: synopsys-sig/detect-action@v0.3.5
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: 0
          DETECT_PROJECT_TAGS: 'wek'
          DETECT_POLICY_CHECK_FAIL_ON_SEVERITIES: 'BLOCKER'
          DETECT_NPM_INCLUDE_DEV_DEPENDENCIES: false
          DETECT_EXCLUDED_DIRECTORIES: 'dist,coverage,node_modules'
        with:
          detect-version: 7.13.2
          github-token: ${{ secrets.GITHUB_TOKEN }}
          blackduck-url: ${{ secrets.BLACKDUCK_URL }}
          blackduck-api-token: ${{ secrets.BLACKDUCK_API_TOKEN }}
          detect-trust-cert: true
